/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: {color0};
    --color01: {color1};
    --color02: {color2};
    --color03: {color3};
    --color04: {color4};
    --color05: {color5};
    --color06: {color6};
    --color07: {color7};
    --color08: {color8};
    --color09: {color9};
    --color10: {color10};
    --color11: {color11};
    --color12: {color12};
    --color13: {color13};
    --color14: {color14};
    --color15: {color15};
}
